body {
    font-family: Arial, sans-serif;
    background-color: #a2dff7;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    width: 100%;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

select.correct {
    border-color: #4CAF50; /* Verde para respuestas correctas */
}

select.incorrect {
    border-color: #f44336; /* Rojo para respuestas incorrectas */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.correct {
    border: 10px solid green; /* Borde verde para respuestas correctas */
}

.incorrect {
    border: 10px solid red; /* Borde rojo para respuestas incorrectas */
}
